<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!(auth.isLoading$ | async)">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">DonAcción</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/profile">Mi perfil</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated && isOsfl">
          <a class="nav-link" routerLink="/campanias">Mis campañas</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated && isAdmin">
          <a class="nav-link" routerLink="/ping">Ping (test)</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated && isDonante">
          <a class="nav-link" routerLink="/explorar">Explorar campañas</a>
        </li>
      </ul>

      <!-- Login / Logout -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!(auth.isAuthenticated$ | async)">
          <a class="nav-link login-link" (click)="login()">Iniciar sesión / Crear cuenta</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
          <a class="nav-link logout-link" (click)="auth.logout(logoutOptions)">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>