/* You can add global styles to this file, and also import other style files */

/* =========================================
   1. ESTILOS SWEETALERT (Se mantienen)
   ========================================= */

/* Clases para centrar y achicar el input */
.swal-input-monto {
  max-width: 300px !important;
  margin: 1.5em auto 1.5em auto !important;
  text-align: center !important;
}

/* Ocultar Flechas (Spinners) de inputs numéricos */
.swal-input-monto::-webkit-inner-spin-button,
.swal-input-monto::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.swal-input-monto {
  -moz-appearance: textfield !important;
}

/* =========================================
   2. NAVBAR Y ESTILOS GLOBALES 
   ========================================= */

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.logo-donaccion {
  height: 45px; 
  width: auto;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 4px 20px rgba(0,0,0,0.04); 
  padding: 0.8rem 1rem;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .nav-link:visited {
  color: #1e293b !important; 
  font-weight: 600;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: #3b82f6 !important; 
}

.navbar-toggler {
  border: none !important; 
}

.navbar-toggler:focus {
  box-shadow: none !important;
}


.navbar-light .navbar-toggler-icon {
  filter: none; 
}